* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 1440px;
  background-color: #eae8fe;
}

.logo-wrapper {
  width: 350px;
  height: 200px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./logo.svg");
}

.vending-machine-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 200px;
  width: 800px;
  height: 550px;
  display: flex;
  gap: 20px;
}

.machine-first {
  width: 400px;
  height: 550px;
  padding: 20px;
  background-color: white;
}
.top-section-first,
.top-section-second {
  display: flex;
  justify-content: space-between;
}
.top-section-first > div,
.top-section-second > div {
  width: 100px;
  height: 150px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  box-sizing: border-box;
}
.top-section-first {
  margin-bottom: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.item1,
.item5 {
  border: 3px solid #6327fe;
}
.item-img {
  width: 40px;
  height: 70px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.item1-img {
  background-image: url("./original_cola.jpg");
}
.item2-img {
  background-image: url("./violet_cola.jpg");
}
.item3-img {
  background-image: url("./yellow_cola.jpg");
}
.item4-img {
  background-image: url("./cool_cola.jpg");
}
.item5-img {
  background-image: url("./green_cola.jpg");
}
.item6-img {
  background-image: url("./orange_cola.jpg");
}

.item-title {
  font-size: 12px;
  margin-bottom: 5px;
}
.item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  color: white;
  background-color: #6327fe;
}
.item-price > span {
  font-size: 15px;
}
.item2 {
  position: relative;
}
.bg-black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  opacity: 0.8;
}

.bg-black-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  border: 5px double white;
  transform: rotate(-15deg);
  background: #000000;
}

.bg-black-inner > span {
  font-size: 14px;
  color: white;
}

.middle-section-first,
.middle-section-second {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rest-money,
.insert-money-content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 225px;
  height: 30px;
  padding: 10px;
  border-radius: 4px;
  background-color: #eae8fe;
}

.rest-money-title,
.rest-money-show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.return-money,
.insert-money {
  width: 100px;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.insert-money-content {
  border: 0.5px solid gray;
  background-color: white;
}
.insert-money-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #bdbdbd;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 120px;
  margin-top: 10px;
}
.selectedItem-wrapper {
  box-sizing: border-box;
  width: 225px;
  padding: 10px;
  border-radius: 8px;
  background-color: #eae8fe;
  overflow-y: scroll;
}

.selectedItem {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 5px;
}
.selectedItem-img {
  width: 20px;
  height: 30px;
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
.selectedItem1-img {
  background-image: url("./original_cola.jpg");
}

.selectedItem2-img {
  background-image: url("./yellow_cola.jpg");
}
.selectedItem3-img {
  background-image: url("./orange_cola.jpg");
}
.selectedItem4-img {
  background-image: url("./green_cola.jpg");
}
.selectedItem-title {
  margin: 0 30px 0 10px;
}

.selectedItem-count {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedItem-count > span {
  font-size: 16px;
}

.getItem-btn {
  width: 100px;
  border: none;
  font-size: 16px;
  color: white;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6327fe;
}
.machine-second {
  width: 400px;
  height: 550px;
  background-color: #eae8fe;
}

.machine-second-top {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: white;
}

.has-money-wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #eae8fe;
}
.has-money-title,
.has-money-value {
  font-size: 16px;
}
.has-money-value {
  font-weight: bold;
}

.machine-second-bottom {
  height: 480px;
  background-color: white;
}
p {
  font-size: 16px;
}

p.category-title {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}
p.total-money {
  width: 340px;
  margin: 10px auto 0;
  text-align: right;
}

.my-items-wrapper {
  height: 400px;
  padding: 10px;
  margin: 10px 20px 3px;
  background-color: #eae8fe;
}

@media (max-width: 800px) {
  .logo-wrapper {
    width: 200px;
    height: 100px;
  }
  .vending-machine-wrapper {
    display: block;
    width: 400px;
    height: 1240px;
    margin-top: 100px;
  }
  .machine-first,
  .machine-second {
    margin: 30px 0;
  }
}
